<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список контактов</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Список контактов</h1>

    <a href="/contacts/new" class="btn btn-success mb-3">Добавить новый контакт</a>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ФИО</th>
                <th>Телефон</th>
                <th>Заметка</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="contact : ${contacts}">
                <td th:text="${contact.fullName}"></td>
                <td th:text="${contact.phoneNumber}"></td>
                <td th:text="${contact.note}"></td>
                <td>
                    <a th:href="@{/contacts/{id}(id=${contact.id})}" class="btn btn-warning">Редактировать</a>
                    <a th:href="@{/contacts/delete/{id}(id=${contact.id})}" class="btn btn-danger" onclick="return confirm('Вы уверены, что хотите удалить этот контакт?');">Удалить</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>
